<!DOCTYPE html>
<html>

<head>
	<title>Spam Detector</title>
	<!-- <link rel="stylesheet" type="text/css" href="../static/css/styles.css"> -->
	<link rel="stylesheet" type="text/css" href="../static/styles.css">
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap" rel="stylesheet">
</head>

<body>

	<header>
		<div class="container">
			<h2>Detect spam message</h2>
			<p>beware of unsolicited messages</p>
		</div>
	</header>

	<div class="ml-container">
		<form action="{{ url_for('predict')}}" method="POST">
			<p>Enter Your Message Here</p>
			<!-- <input type="text" name="comment"/> -->
			<textarea name="message" rows="4" cols="50"></textarea>
			<br />

			<input type="submit" class="btn-info" value="predict">
		</form>
	</div>
	<div>
		<img src="../static/undraw_Social_networking_re_i1ex.svg">
	</div>



</body>

</html>